@import '~normalize.css/normalize.css';

@import 'styles/Variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: blue;
  font-size: 14px;
}

.mt-5 {
  margin-top: 5rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
